EXPO_PUBLIC_SUPABASE_URL= postgresql://postgres:postgres@127.0.0.1:54322/postgres
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=replace-me.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=replace-me.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=replace-me.apps.googleusercontent.com
EXPO_PUBLIC_APP_SCHEME=sportz
EXPO_PUBLIC_MAP_PROVIDER=appleA
